body{
    
}

hr{
    height: 2px;
    background-color: black;
    border-top: dotted;
}

#div1{
    background-color: rgb(226, 248, 207);
}

footer{
    padding: 15;
    text-align: center;
    background-color: rgb(226, 248, 207);
}

footer p{
    font-size: 25;
    font-style: oblique;
}

#car{
    display:none;
}

#header{
    text-align: center;
}
#click{
    display: none;
    height: 50px;
    width: 150px;
    font-size: large;
    font-weight:bold ;
    margin-left: 45%;
    border-color: rgb(146, 245, 133);
    border-radius: 100px;
}

#pokemon1{
    margin-left: 10%;
}

#car{
    margin: 0 auto 0 auto;
    opacity: 0;
}