body{
    
}

hr{
    height: 2px;
    background-color: black;
    border-top: dotted;
}

#div1{
    background-color: rgb(226, 248, 207);
}

footer{
    padding: 15;
    text-align: center;
    background-color: rgb(226, 248, 207);
}

footer p{
    font-size: 25;
    font-style: oblique;
}

#car{
    display:none;
}

#leo{
    display: none;
}